@font-face {
  font-family: 'Franklin Gothic Demi Cond';
  src: url('../fonts/FranklinGothic-DemiCond.woff2') format('woff2'),
      url('../fonts/FranklinGothic-DemiCond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url('../fonts/FranklinGothic-Medium.woff2') format('woff2'),
      url('../fonts/FranklinGothic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url('../fonts/FranklinGothic-Heavy.woff2') format('woff2'),
      url('../fonts/FranklinGothic-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  overflow-x: hidden;
}

body {
  background: #09070A;
  font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 32px;
    line-height: 1.3;
  }
}

a {
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #fff;

  &:hover {
    color: rgba(255,255,225, .75);
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background: transparent;
  margin: 0 4px !important;

  &.swiper-pagination-bullet-active {
    background: #fff;
  }
}

@media (min-width: 1024px) {
  .swiper-pagination-bullet {
    width: 19px;
    height: 19px;
  }
}

.header {
  background: #090909;
  color: #fff;
  padding: 15px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin: 0;

  a {
    &:hover {
      opacity: 1;
    }
  }

  img {
    display: block;
  }
}

.main-nav {
  font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  display: flex;
  
  li {
    padding: 0 15px;  
  }
}

.main-drop {
  display: none;
}

.header-phone {
  font-size: 20px;
  font-weight: normal;
}

/*  intro */
.intro--section {
  margin-top: 100px;
  position: relative;

  video {
    clip-path: inset(1px -1px);

    &:focus {
      outline: none;
    }
  }
}

#introVideo {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: cover;
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  padding: 10px;
  height: 60%;
  transform: translate(-50%, -50%);

  h2 {
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
  }
}

.intro-menu {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;

  li {
    padding: 0 16px;
  }

  a {
    display: block;
    border-radius: 4px;
    padding: 7px 15px;
    text-transform: uppercase;
    font-weight: 900;
    background: linear-gradient(0deg, rgba(207,216,229,1) 0%, rgba(203,212,225,1) 45%, rgba(192,201,214,1) 100%);

    &.beige-link {
      background: linear-gradient(0deg, rgba(229,214,194,1) 0%, rgba(216,201,181,1) 45%, rgba(214,199,179,1) 100%);
      &:hover {
        color: #a2927d;
      }
    }

    &.green-link {
      background: linear-gradient(0deg, rgba(207,229,223,1) 0%, rgba(192,214,208,1) 45%, rgba(192,214,208,1) 100%);
      &:hover {
        color: #728983;
      }
    }

    &.pink-link {
      background: linear-gradient(0deg, rgba(230,195,195,1) 0%, rgba(216,181,181,1) 45%, rgba(215,180,180,1) 100%);
      color: #fef3f3;
      &:hover {
        color: #ad8a8a;
      }
    }

    &:hover {
      color: #8b98aa;
    }
  }
}

/* about */
.about--section {
  background: #09070A;
  padding: 25px 0 15px;
  font-family: "Franklin Gothic Demi Cond", Arial, Helvetica, sans-serif;

  img {
    display: block;
    margin: 0 auto 40px;
  }

  p {
    margin: 0 0 20px;
  }
}

@media (min-width: 768px) {
  .about--section {
    .container {
      max-width: 1330px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      width: 56%;
    }

    .about-info {
      width: 44%;
    }

    p {
      margin: 0 0 26px;
    }
  }
}

/* love story */
.love-story--section {
  background: #2c2323;
}

.love-content {
  padding: 0 0 15px;
}

.love-story--section,
.real-estate--section,
.commercial--section {
  padding: 50px 0;
  font-family: 'Franklin Gothic Demi Cond', Arial, Helvetica, sans-serif;
  -webkit-box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.29); 
  box-shadow: inset 0px 0px 15px 8px rgba(0,0,0,0.29);

  .container {
    max-width: 1200px;
  }

  p {
    margin: 0 0 20px;
  }

  h2 {
    position: relative;
    text-transform: uppercase;
    color: #fffefe;
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.4px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #a68383, 0 0 20px #a68383, 0 0 25px #a68383, 0 0 30px #a68383, 0 0 35px #a68383;
    margin: 0 0 50px;

    &:before {
      content: 'Love Story';
      position: absolute;
      top: -17px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      font-weight: 100;
      font-size: 74px;
      opacity: .15;
      letter-spacing: 0;
    }
  }
}

/* commercial */
.commercial--section {
  h2 {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #75c2d6, 0 0 20px #75c2d6, 0 0 25px #75c2d6, 0 0 30px #75c2d6, 0 0 35px #75c2d6;

    &:before {
      content: 'Commercial';
    }
  }
}

@media (min-width: 768px) {
  .commercial--section {
    .container {
      display: flex;
      justify-content: space-between;
      max-width: 960px;
      padding-bottom: 50px;
    }

    h2 {
      text-align: left;
      margin-left: 20px;
      font-size: 44px;
      width: 45%;
      padding: 0 0 90px;

      &::before {
        top: 46%;
        left: 0;
        font-size: 44px;
        opacity: 0.5;
        transform: none;
        letter-spacing: 1.6px;
      }

      &:after {
        content: 'Commercial';
        position: absolute;
        top: 90%;
        left: 0;
        white-space: nowrap;
        font-weight: 100;
        font-size: 44px;
        opacity: .25;
        letter-spacing: 1.6px;
      }
    }

    .commercial-content {
      width: 50%;
    }
  }
}

.real-estate--section {
  background: #262c2a;

  h2 {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #a8d8ca, 0 0 20px #a8d8ca, 0 0 25px #a8d8ca, 0 0 30px #a8d8ca, 0 0 35px #a8d8ca;
    &::before {
      content: 'Real Estate';
    }
  }
}

.real-estate-content {
  padding: 0 0 15px;
}

.general-swiper__container {
  margin: 0 -20px;
  overflow: hidden;

  .swiper-wrapper {
    padding: 0 0 50px;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .love-story--section,
  .real-estate--section {
    padding: 75px 0;
  }

  .love-story--section {
    h2 {
      text-align: left;
      margin-left: 20px;
      font-size: 44px;

      &::before {
        top: 2px;
        left: 63px;
        font-size: 90px;
        transform: none;
      }
    }
  }

  .real-estate--section {
    h2 {
      text-align: left;
      margin-left: 20px;
      font-size: 44px;

      &::before {
        top: 0;
        right: 95%;
        font-size: 44px;
        opacity: .5;
      }

      &:after {
        content: 'Real Estate';
        position: absolute;
        top: 0;
        left: 95%;
        white-space: nowrap;
        font-weight: 100;
        font-size: 44px;
        opacity: .25;
        letter-spacing: 0;
      }
    }
  }

  .love-content {
    column-count: 2;
    column-gap: 60px;
    margin: 0 0 25px;
    position: relative;
    padding: 36px 46px;

    &:before {
      content: '';
      position: absolute;
      left: 14px;
      top: 0;
      width: 55px;
      height: 55px;
      background: url(../images/icon_lovestory.svg) no-repeat;
    }

    &:after {
      content: '';
      position: absolute;
      right: 14px;
      bottom: 0;
      width: 55px;
      height: 55px;
      background: url(../images/icon_lovestory.svg) no-repeat;
      transform: rotate(180deg);
    }

    p {
      margin: 0;
    }
  }

  .real-estate-content {
    column-count: 2;
    column-gap: 60px;
    margin: 0 0 25px;
    position: relative;
    padding: 36px 46px;

    p {
      margin: 0;
    }
  }
}

@media (min-width: 1024px) {
  .love-story--section,
  .real-estate--section {
    h2 {
      font-size: 56px;
    }
  }

  .real-estate--section {
    h2 {
      &::before,
      &::after {
        font-size: 56px;
      }
    }
  }

  .real-estate-content {
    padding-left: 0;
    padding-right: 0;
  }
}

/* contact */
.contact-button--section {
  padding: 60px 0;

  .container {
    text-align: center;
  }
}

/* feedback */
.feedback--section {
  background: #171717;
  padding: 50px 0;

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 40px;
  }
}

.feedback-swiper {
  h4 {
    font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  img {
    display: block;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto 25px;
  }

  blockquote {
    margin: 0;

    cite {
      font-style: normal;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    &:after {
      display: none;
    }

    svg {
      path {
        transition: all .3s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          opacity: 1;
        }
      }
    }
  }
}

.feedback-content {
  margin: 0 auto;
  max-width: 320px;
  font-family: 'Franklin Gothic Demi Cond', Arial, Helvetica, sans-serif;

  p {
    margin: 0 0 10px;
  }

  figcaption {
    font-size: 14px;
  }
}

@media (min-width: 640px) {
  .feedback-swiper {
    height: 100%;
    max-height: 600px;

    img {
      margin: 0 45px 0 0;
      width: 230px;
    }

    h4 {
      text-transform: uppercase;
      font-size: 24px;
      margin: 0 0 15px;
    }

    .swiper-pagination-vertical {
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .feedback-swiper__holder {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  .feedback-content {
    font-size: 20px;
    max-width: 100%;
    width: 100%;

    figcaption {
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) {
  .feedback--section {
    padding: 75px 0;
  }
}

@media (min-width: 1024px) {
  .feedback-swiper {
    h4 {
      font-size: 34px;
    }
  }

  .feedback-content {
    font-size: 28px;

    figcaption {
      font-size: 24px;
    }
  }
}

/* footer */
.footer {
  padding: 50px 0 20px;

  .container {
    max-width: 900px;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 15px;
  }

  .contact-button {
    margin: 15px 0 0;
  }

  .copyright {
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
  }
}

.footer-column--holder {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 27px;
}

.footer-column {
  width: 50%;

  ul {
    letter-spacing: -1.2px;
  }

  li {
    margin: 0 0 8px;
  }

  @media (max-width: 767px) {
    &:first-child {
      margin-left: 48px;
    }
  
    &:last-child {
      margin: 0 15px;
    }
  }
}

.footer-contact {
  margin: 0 48px;

  h4 {
    margin: 0 0 9px;
  }
}

.footer-phone {
  font-size: 15px;
  margin: 0 0 7px;
}

.contact-button {
  border-radius: 8px;
  background: #336619;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  padding: 10px 56px 10px 10px;
  position: relative;

  em {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #3a731d;
    width: 46px;
    height: 100%;
    font-style: normal;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background: #3a731d;
    color: #fff;

    em {
      background: #336619;
    }
  }
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  li {
    padding: 0 15px;

    img {
      display: block;
    }
  }

  a {
    svg {
      g,
      path {
        transition: all .3s ease-in-out;
      }
    }
    &:hover {
      svg {
        g,
        path {
          opacity: 1;
        }
      }
    }
  }
}

.footer-logo {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 100%;

  img {
    display: block;
  }
}

@media (min-width: 768px) {
  .contact-button {
    font-size: 24px;
    padding: 10px 61px 10px 15px;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px;
  }

  .footer-column--holder {
    width: 60%;
    margin: 0;
  }

  .footer-socials {
    display: none;
  }

  .footer-contact {
    width: 40%;
    margin: 0;
    font-size: 16px;
  }

  .footer-logo {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .footer-contact {
    font-size: 24px;
  }
}